a{
	text-decoration: none;
	color: inherit;
}
a:hover{
	color: cyan;
}
body{
	background-color: black;
}
.container{
	padding-top: 3%;
}
.hosting-part{
	background-color: black;
	/*height: 500px;*/
}
.contact-us{
	background-color: black;
	
}
.events{
	background-color: black;
	height: 500px;
	
}


#carouselExampleCaptions{
	margin-top: 4%;

}


.hos-part-img{
	border-radius: 100%;
	width: 60%;
	margin-left: 20%;
	margin-top: 6%;
}
.quick-links{
	display: none;
}


.bottom{
	color: white;
	text-align: center;
	font-family: lato,sans-serif;
	padding-bottom: 3%;
}
.bottom-line{
	font-size: 18px;
	margin-top: 3%;
	padding-bottom: 3%;
}
.headings{
	margin-left: 15%;
	margin-top: 4%;
	text-align: left;
	color: white;
	font-size: 25px;
	font-family: montserrat,sans-serif;
	font-weight: bolder;
}
.content{
	margin-left: 15%;
	color: white;
	text-align: left;
	font-size: 18px;
	font-family: lato,sans-serif;
}
.social-icon{
	font-size: 30px;
	color: white;
	margin-top: 5%;
	margin-right: 3%;
	border-radius: 60%;
	/*transition: font-size .3s;*/
	transition: transform .3s,color 0.3s;
}
.social-icon:hover{
	/*font-size: 57px;*/
	transform: scale(1.9,1.9);

}
.fb:hover{
	
	color: #00aaff;
	
}
.tw:hover{
	color:#00aaff;
}
.insta:hover{
	color: #E1306C;
}
.linked:hover{
	color: #0e76a8;
}
.yt:hover{
	color: #FF0000;
}

@media(max-width: 1200px){
	.quick-links{
		display: block;
	}
	
	.events{
		display: none;
	}
	
	
	
	.hos-part-img{
		width: 30%;
		margin-left: 15%;
	}
	.headings{
		margin-left: 0;
		margin-top: 5%;
		font-size: 60px;
	}
	.content{
		font-size: 40px;
	}
	
	.merch{
		display: none;
	}
	.bottom{
		margin: auto;
		margin-top: 15%;
		/*position: relative;
		left: 30%;*/
	}
	.social-icon{
		font-size: 50px;
	}
	.bottom-logo{
		width: 70%;
	}
	.bottom-line{
		font-size: 40px;
	}

}
